<%- include("partials/header.ejs") %>

<div class="index-container index-page">
    <form action="/player" method="POST">
        <div class="movie-thumbnail-1 thumbnail-home">
            <button name="thumbnailSelected" value="<%= content.MovieTitle1 %>">
                <img class="media-icon" src="images/Media_Player.svg.png" width="240px">
                <h1 class="thumbnail-title">
                    <%= content.MovieTitle1 %>
                </h1>
            </button>
        </div>
        <div class="movie-thumbnail-2 thumbnail-home">
            <button name="thumbnailSelected" value="<%= content.MovieTitle2 %>">
                <img class="media-icon" src="images/Media_Player.svg.png" width="240px">
                <h1 class="thumbnail-title">
                    <%= content.MovieTitle2 %>
                </h1>
            </button>
        </div>
        <div class="movie-thumbnail-3 thumbnail-home">
            <button name="thumbnailSelected" value="<%= content.MovieTitle3 %>">
                <img class="media-icon" src="images/Media_Player.svg.png" width="240px">
                <h1 class="thumbnail-title">
                    <%= content.MovieTitle3 %>
                </h1>
            </button>
        </div>
        <div class="movie-thumbnail-4 thumbnail-home">
            <button name="thumbnailSelected" value="<%= content.MovieTitle4 %>">
                <img class="media-icon" src="images/Media_Player.svg.png" width="240px">
                <h1 class="thumbnail-title">
                    <%= content.MovieTitle4 %>
                </h1>
            </button>
        </div>
        <div class="movie-thumbnail-5 thumbnail-home">
            <button name="thumbnailSelected" value="<%= content.MovieTitle5 %>">
                <img class="media-icon" src="images/Media_Player.svg.png" width="240px">
                <h1 class="thumbnail-title">
                    <%= content.MovieTitle5 %>
                </h1>
            </button>
        </div>
    </form>
</div>

<%- include("partials/footer.ejs") %>
