<%- include("partials/header.ejs") %>

<div class="player-container">
    <div class="video-container">
        <video src="/mediastream/<%= content.userID %>" type="video/<%= content.movieFormat %>" controls>
            ERROR!!! - Your Browser Does Not Support The Video Format!
        </video>
    </div>
    <div class="movie-title-and-download">
        <h2 class="movie-display-title"><%= content.movieTitle %></h2>
        <br>
        <form method="post">
            <button formaction="/download" name="movieName"
                    class="download-button" value="<%= content.movieTitle %>"
                    download onmouseup="alert('Your Download Will Start Shortly!')">
                DOWNLOAD 🔽
            </button>
        </form>
    </div>
</div>

<%- include("partials/footer.ejs") %>
